body {
    font-family: 'Catamaran';
    background-color: #f4f4f9;
    color: #333;
    text-align: center;
    margin: 0;
    padding: 0;
}

#app {
    max-width: 90%; /* Use percentage for better responsiveness */
    margin: 50px auto;
    padding: 20px;
    background-color: #fff;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    border-radius: 8px;
}

h1 {
    font-size: 36px; /* Adjusted for smaller screens */
    margin-bottom: 20px;
    color: #4a4a4a;
}

#question {
    font-size: 60px; /* Adjusted for smaller screens */
    font-weight: bold;
    color: #00008b;
    margin-bottom: 20px;
    background-color: #d3d3d3;
    border-radius: 50%;
    width: 120px; /* Adjusted for smaller screens */
    height: 120px; /* Adjusted for smaller screens */
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 0 auto 20px;
}

#choices button {
    display: block;
    margin: 10px auto;
    padding: 10px 20px;
    width: 90%; /* Use percentage for better responsiveness */
    font-size: 16px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s, color 0.3s;
}

#choices button:hover {
    background-color: #e0e0e0;
}

.correct {
    background-color: #4caf50;
    color: white;
}

.incorrect {
    background-color: #f44336;
    color: white;
    transition: none;
}

#next {
    margin-top: 20px;
    padding: 10px 20px;
    font-size: 16px;
    border: none;
    border-radius: 5px;
    background-color: #2196f3;
    color: white;
    cursor: pointer;
    transition: background-color 0.3s;
}

#next:hover {
    background-color: #1976d2;
}

/* Media query for smaller screens */
@media (max-width: 600px) {
    #app {
        margin: 20px auto;
        padding: 15px;
    }

    h1 {
        font-size: 24px;
    }

    #question {
        font-size: 50px;
        width: 100px;
        height: 100px;
    }

    #choices button {
        font-size: 14px;
    }

    #next {
        font-size: 14px;
    }
}
